.single-category {
	background: #fff;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	padding: 40px;
	text-align: right;
	margin-top: 30px;
	margin-bottom: 30px;
}

.single-category img {
	max-width:100%;
	max-height: 100%;
}

.single-category h3 {
	text-align: left;
}

.single-category p {
	text-align: left;
}

h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
}

header {
	padding: 100px 16px 64px 16px;
	background: #f44336;
	color: #fff;
	text-align: center;
}

header p {
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}

.start {
	text-align: center;
}